<router-outlet></router-outlet>
<lib-header title="Dashboard"></lib-header>
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-3">
          <lib-widget [widgets]="appMeta?.widgets"></lib-widget>
      </div>
      <div class="mdc-layout-grid__cell--span-9">
        <div class="content">
            <div class="mdc-layout-grid__cell title"><span >Welcome!</span></div>
            <div class="mdc-layout-grid__cell"><span>
                <p>
                    {{ appMeta?.welcomeMessage }}
                </p>
            </span></div>
        </div>
          
      </div>
    </div>
  </div>

