@import "~@material/layout-grid/mdc-layout-grid";
.u-item-two-third{
    width: 75%;
}
.u-item-one-third{
   width: 25%;
}
.row__item{
    display: flex;
    width: 100%;
}
.content{
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
    .title{
        font-weight: bold;
    }
    font-size: 25px;
}
.title{
    font-weight: bold;
}