<router-outlet></router-outlet>
<lib-header title="Dashboard"></lib-header>
<div class="row__item">
  <div class="u-item-one-third">
    <lib-widget [widgets]="mockData"></lib-widget>
  </div>
  <mat-divider vertical="true"></mat-divider>
  <div class="u-item-two-third content">
    <div class="row__item title">
      Welcome!
    </div>
    
    <div class="row__item">
      <p>
        Welcome to your Resident Portal. Here you can make payments, submit tickets, and much more...
      </p>
    </div>
  </div>
</div>

