.stepper {
    display: flex;
    width: 100%;
    margin: auto;
  }
  .stepper .col {
    order: 0;
  }
  
  .stepper.stepper--horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
  }
  .stepper.stepper--horizontal .col {
    flex: 0 1 33.3%;
    align-self: auto;
    padding: 20px 0;
  }
  .stepper.stepper--horizontal .col span.step-number {
    float: left;
    display: inline-block;
    background-color: #b1b1b1;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 500px;
  }
  .stepper.stepper--horizontal .col .step-title {
    color: #6d6d6d;
    padding: 28px 5px 5px 40px;
    display: inline-block;
    width: 92%;
  }
  .stepper.stepper--horizontal .col .step-last {
    color: #6d6d6d;
    padding: 10px 5px 5px 12px;
    display: inline-block;
    /* width: 85%; */
  }
  .test-parent{
     position: absolute;
  }
  .stepper.stepper--horizontal .col .step-title:after {
    content: "";
    border-bottom: dotted 1px #ccc;
    display: inline-block;
    width: 100%;
    float: right;
    position: relative;
    top: -10px;
  }
  .stepper.stepper--horizontal .col .step-title span {
    background-color: #fff;
    display: inline-block;
    position: relative;
    z-index: 9;
    padding-right: 4px;
  }
  .stepper.stepper--horizontal .col.current span.step-number {
    background-color: #448AFF;
   
  }
  .stepper.stepper--horizontal .col.current .step-title {
    color: #000;
  }