<div class="wrapper">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <mat-icon inline="true" color="primary" fontSet="fas" fontIcon="fa-money-check-alt">
                    e-check
                </mat-icon>
            </mat-card-title>
            <mat-card-subtitle>
                {{payment?.account?.name}} - {{payment?.account?.type}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div style="margin:20px;">
                    {{payment?.account?.mask}}
            </div>
        </mat-card-content>
    </mat-card>
</div>