<div [ngClass]="defaultTheme" class="wrapper">
    <div class="content">
        <mat-card>
            <mat-card-content>
                <ngx-auth-firebaseui 
                    tosUrl="/legal/tos" 
                    privacyPolicyUrl="/legal/privacy"
                    [tabIndex]="1" 
                    [providers]="[providers.Google]" 
                    [guestEnabled]="false" 
                    (onSuccess)="onSuccess($event)"
                    (onError)="onError($event)">
                </ngx-auth-firebaseui>
            </mat-card-content>
        </mat-card>
    </div>
</div>