<router-outlet></router-outlet>
<lib-header [title]="title"></lib-header>
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="icon__container">
              <mat-icon inline="true" color="primary" fontSet="fas" fontIcon="fa-history">
                History
              </mat-icon>
            </div>
          </ng-template>
          <app-payment-history></app-payment-history>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="icon__container">
              <mat-icon inline="true" color="primary" fontSet="fas" fontIcon="fa-wallet">
                Billing Info
              </mat-icon>
            </div>
          </ng-template>
          <app-billing-info></app-billing-info>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="icon__container">
              <mat-icon inline="true" color="primary" fontSet="fas" fontIcon="fa-credit-card">
                Scheduled Payments
              </mat-icon>
            </div>
          </ng-template>
         <app-scheduled-payment></app-scheduled-payment>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="icon__container">
              <mat-icon inline="true" color="primary" fontSet="fas" fontIcon="fa-money-bill">
                Make Payment
              </mat-icon>
            </div>
          </ng-template>
          <app-make-payment></app-make-payment>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
